*{
    margin: 0;
}

.dark-mode{
    /*transition: 1s;*/
    --bg-color: #535C91;
    --sidenav-bg: #49454F;
    --sidenav-text-color: #bcb5c28c;
    --sidenav-hover-text-color: #E7E0EC;
    --text-color: #EEEEEE;
    --current-icon: url('../res/images/Icons/sun.svg');
    background-image: url("../res/images/Backgrounds/endless-constellation.svg");
}

.light-mode{
    /*transition: 1s;*/
    --bg-color: #EEEEEE;
    --sidenav-bg: #508C9B;
    --sidenav-text-color: #bcb5c28c;
    --sidenav-hover-text-color: #E7E0EC;
    --text-color: #000000;
    --current-icon: url('../res/images/Icons/Moon.svg');
    background-image: url("../res/images/Backgrounds/endless-constellationL.svg");
}

.transition{
    transition: 1s;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.sidebar{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;

    height: 100%;
    width: 5rem;
    gap: 75px;

    background-color: var(--sidenav-bg);
}

.nav-button{
    align-self: center;
    display: flex;

    flex-direction: column;
    justify-content: center;
    /* align-content: center; */
    align-items: center;

    text-align: center;
    text-decoration: none;
    color: var(--sidenav-text-color);
}

.nav-button:hover{
    color: var(--sidenav-hover-text-color);
}


#ChangeImage{
    position: fixed;
    bottom: 0;
    margin-bottom: 4rem;
    
}

.page-content{
    width: 90%;
    position: fixed;
    right: 0;
    padding: 1rem;
}

h1, h2{
    text-align: left;
}


p{
    text-align: justify;
}

.text-box{
    width: 20%;

    background-color: #EEEEEE;
    color: #000000;

    border-radius: 1rem;
    border: #D9D9D9 solid 0.25rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box a{
    /*text-decoration: none;*/
    color: #000000;
}

.text-box hr{
    background-color: #000000;
    border-radius: 100%;
    margin: 10px;
}

.user-icon{
    position: fixed;
    right: 0;
    padding: 1rem;
}

.user-icon img{
    width: 3.5rem;
}

#user-options{
    background: #eeeeee;
    border: #D9D9D9 solid 0.25rem;
    border-radius: 1rem;
    padding: .5rem;
}